{% extends "layout.html" %}
{% block style %}
  h1{
    font-size: 130px;
    padding: 140px 0 20px 0;
  }
  h2{
    color: white;
    font-family:serif;
    text-align: center;
    font-size: 85px;
    padding: 0px 0 40px 0;
  }
  input[type=text], select {
    color: gray;
    font-size: 23px;
    font-family: serif;
    width: 700px;
    height: 80px;
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  button{
    display: inline-block;
    padding:17px 48px 22px 48px;
  }

  form
    margin-top: 8px;
    display: inline-block;
  }
{% endblock %}
{% block heading %}
  Welcome! :) <br/>
  <h2>It's been a while. Let's catch up sometime?</h2>
{% endblock %}

{% block body %}
  <center>
<form action="{{ url_for('friend') }}" method="post">
      <input type="text" name="friendMessage" placeholder="Write me a quick message including your name and availability!">
      <button>Submit</button>
    </form>

  </center>
{% endblock %}
